.formDiv, .btnsWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.formElem {
    fontSize: 0.6rem;
}

.btnsWrapper {
    position: absolute;
    bottom: 1rem;
}

.inputWrapper {
    width: 49%;
    /* margin-right: 4%; */
    margin-bottom: 1rem;
}

.btn {
    width: 47%;
}

.formDivWrapper div:nth-child(odd) {
    margin-right: 2%;
}

.btnsWrapper div:nth-child(odd) {
    margin-right: 2%;
}

@media screen and (max-width: 1024px) {
    .avatar {
        margin-right: 10%;
    }

    .editFrameInner {
        display: flex;
        align-items: center;
    }

    .btnsWrapper {
        position: relative;
        margin-top: 4rem;
        width: 100%;
    }

    .btn {
        width: 49%;
    }

}

@media screen and (max-width: 425px) {
    .inputWrapper {
        width: 100%;
    }
}