.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.item a {
    font-size: 0.9rem;
}

.icon {
    margin-right: 0.8rem;
}