.labeledDivider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.labeledDivider > label {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.divider {
    width: 100%;
    color: #e3e3e3;
    background-color: #e3e3e3;
    height: 0.2;
    border-color: #e3e3e3;
}